<section
    *ngIf="!business"
    class="not-find"
>
    <a
        href="/creator"
        class="search-zip"
    >
        Search in new zip code
    </a>

    <br>

    <p>
        0 results found in {{zipcode}}
    </p>

    <br>
    
    <p>
        Right now, we don't have any nano-influencers in your area.
        <br>
        <b>
            Fill out the form, and we'll work to match your business with a nano-influencer within 72 hours.
        </b>
    </p>

    <br>

    <add-business
        
        (onBusinessAdded)="onBusinessAdded($event)"
    ></add-business>
</section>



<section
    id="requestSubmited"
    *ngIf="business"
>
    <logo></logo>
    <h3>
        Thank you!
    </h3>
    <p>
        We will email and text you as soon as a nano-influencer match is identified.
    </p>
</section>