<section
    *ngIf="!business"
>
    <p>
        Right now,we don't have any nano-influencers in your area.
    </p>
    <p>
        Fill out the form, and we'll work to match your business with a nano-influencer within 72 hours.
    </p>
    <add-business
        
        (onBusinessAdded)="onBusinessAdded($event)"
    ></add-business>
</section>



<section
    id="requestSubmited"
    *ngIf="business"
>
    <logo></logo>
    <h3>
        Thank you!
    </h3>
    <p>
        We will email and text you as soon as a nano-influencer match is identified.
    </p>
</section>