form {
  padding: 10px 30px;
  height: 43svh;
  legend {
    display: block;
    margin: 0 auto 8px auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #101828;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #475467;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    li {
      label {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #344054;
        margin-bottom: 8px;
      }
      input {
        width: 100%;
        border: none;
        border-radius: 4px;
        padding: 10px 0;
        background-color: #ececec;
        background: #ffffff;
        border: 1px solid #d0d5dd;
        border-radius: 8px;
      }
      button {
        display: block;
        width: 100%;
        padding: 10px 0;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 9999px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
    }
    &:nth-child(2) {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
}

.forgot {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #027a48;
  text-align: right;
  display: block;
  margin: 16px 0;
}

.validation-result {
  background-color: transparent;
  list-style: none;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  &:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
  }
  &:nth-child(2) {
    li {
      &:nth-child(2) {
        a {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #027a48;
        }
      }
    }
  }
}
