<form>
    <legend>
        Add Business
    </legend>
    <ul>
        <li>
            <label for="">
                NAME
            </label>
            <input
                type="text"
                placeholder="Enter first and last name"
            >
        </li>
        <li>
            <label for="">
                EMAIL
            </label>
            <input
                type="text"
                placeholder="Enter your email"
            >
        </li>
        <li>
            <label for="">
                MOBILE
            </label>
            <input
                type="text"
                placeholder="Enter your mobile number"
            >
        </li>
        <li>
            <label for="">
                BUSINESS NAME
            </label>
            <input
                type="text"
                placeholder="Enter your business name"
            >
        </li>
    </ul>
    <ul>
        <li>
            <button
                type="button"
                (click)="save()"
            >
                Submit
            </button>
        </li>
    </ul>
</form>