form {
  legend {
    display: none;
  }
  ul {
    li {
      label {
        display: none;
      }
      input {
        width: 100%;
        border: none;
        border-radius: 8px;
        padding: 14px 0;
        margin-bottom: 4px;
        &::placeholder {
          color: #c0c4d6;
          font-size: 16px;
        }
      }
    }
    button.primary {
      border: none;
      background-color: #764af1;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      margin-top: 8px;
      width: 100%;
      display: block;
      padding: 12px 0;
    }
    &:nth-child(2){
      margin-top: 4px;
    }
  }
}

.validation-result{
  background-color: transparent;
  list-style: none;
}