form {

  legend {
    display: none;
  }
  ul {
    li {
      label {
        display: none;
      }
      input {
        width: 100%;
        border: none;
        border-radius: 8px;
        padding: 14px 0;
        &::placeholder {
          color: #c0c4d6;
          font-size: 16px;
        }
      }
    }
    button.primary{
      border: none;
      background-color: #764AF1;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      margin-top: 8px;
      width: 100%;
      display: block;
      padding: 12px 0;
    }
  }
}
