<form class="creator-filter">
    <legend>
        Filter Creators
    </legend>

    <fieldset>
        <ul>
            <li>
                <label for="txtZipCode">
                    ZipCode:
                </label>
                <input
                    type="tel"
                    id="txtZipCode"
                    name="txtZipCode"
                    [(ngModel)]="zipCode"
                    placeholder="Enter zip code"
                    maxlength="5"
                    minlength="5"
                >
            </li>
        </ul>
        <ul class="validation-result" >
            <validation-result
                *ngIf="validationResult.hasError"
                [validationResult]="validationResult"
            ></validation-result>
            <li>
                <button
                    type="button"
                    class="primary"
                    (click)="filter()"
                >
                    Search
                </button>
            </li>
        </ul>
    </fieldset>
    <br>
    <p>
        By searching, I agree to the LettuceSocial 
        <a
            href="https://www.lettucesocial.com/privacy-policy"
        >
        Privacy Policy
        </a>
         and 
        <a href="https://www.lettucesocial.com/terms-of-use">
        Terms of Use
        </a>
        .
    </p>
</form>