.creator-panel {
  background-image: url("../../../assets/Background-pattern-decorative.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 64px 0;
}
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

div {
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f2f4f7;
  }
  &::after {
    content: none;
  }
}

@media screen and (max-width: 700px) {
  form {
    &::after {
      content: "";
      // background: url("../../../assets/lettus.png");
      background-repeat: no-repeat;
      background-position: bottom;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 275px;
      background-size: contain;
      left: 0;
    }
  }
}

div {
  p {
    font-size: 12px;
  }
}
logo-type {
  display: flex;
  justify-content: center;
  align-items: center;
}
b {
  font-weight: normal;
  font-size: 16px;
  margin-top: 16px;
  display: block;
}
.find {
  margin: 16px 0;
}
.container {
  padding: 10px 16px;
}

.search-zip {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border: 2px solid #636363;
  color: #636363;
  border-radius: 22px;
  margin-top: 32px;
  padding: 10px 16px;
  box-sizing: border-box;
  &::before {
    content: "";
    background: url("https://assets.lettucesocial.com/images/customer-panel/search.svg");
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 16px;
    transform: rotate(80deg);
  }
}
