<section
    class="container"
>
    
    <form
        *ngIf = '!isLoading && !filterOptions.zipCode'
    >
        <logo-type></logo-type>
        <legend>
            Hi 👋 <br>
            Let’s match you
            with a local nano-influencer
        </legend>
        <ul>
            <li>
                <label 
                    for="cmpFilterCreator"
                >
                    Enter the zip code of your business location
                </label>
                <creator-filter
                    id="cmpFilterCreator"
                    name="cmpFilterCreator"
                    (setFilter) = 'setFilter($event)'
                ></creator-filter>
            </li>
        </ul>
    </form>

    <div
        *ngIf = '!filterOptions.zipCode && !isLoading'
    ></div>

    <loading-list
        *ngIf = 'isLoading'
    ></loading-list>

    <section
        *ngIf = '!isLoading && filterOptions.zipCode && creatorList && creatorList.length != 0'
    >
        <b>
            {{creatorList.length}} results found
        </b>

        <creator-list
            [creatorList]="creatorList"
        ></creator-list>
    </section>

    

    <div
        *ngIf = '!isLoading && filterOptions.zipCode && creatorList && creatorList.length == 0'
    >
        <business-request-notification
            [zipcode]="filterOptions.zipCode"
        ></business-request-notification>
        
    </div>

    <navigation-ribon
        *ngIf = '!isLoading && filterOptions.zipCode'
    ></navigation-ribon>
</section>