<loading
    *ngIf="isLoading"
></loading>

<section
    id="addBusiness"
    class="container"
    *ngIf="!isLoading && order && !business"
>
    <logo   
        id="logo"
    ></logo>
    <h1>
        Congratulations 🎉
    </h1>
    <p>
        You successfully submitted your collaboration request to Ashley!
    </p>
    <p>
        <u>Fill out the form</u> below to receive the next steps and further details via email and text.
    </p>
    <add-business
        (onBusinessAdded)="onBusinessAdded($event)"
    ></add-business>
</section>

<section
    id="finished"
    class="container"
    *ngIf="!isLoading && order && business"
>
    <h1>
        Thank you!
    </h1>
    <p>
        Please check your email for more details
    </p>
    <p>
        We can’t wait to help you grow 😊
    </p>
    <a
        href="https://www.instagram.com/lettucesocial/"
    >
        Follow Us
    </a>
</section>