<section>
    <h1>
        Select Collaboration
    </h1>
    <ul>
        <li>
            <h2>
                PLANT
            </h2>
            <ol>
                <li>
                    1 Instagram Reel
                </li>
                <li>
                    1 Instagram Post
                </li>
                <li>
                    Collaborate with one local nano-influencer
                </li>
            </ol>
            <a
                [routerLink]="['/','collabrotaion',creatorId,'invoice',1]"
            >
                70$
            </a>
        </li>

        <li>
            <h2>
                GROW
            </h2>
            <ol>
                <li>
                    2 Instagram Reel
                </li>
                <li>
                    1 Instagram Post
                </li>
                <li>
                    Collaborate with one local nano-influencer
                </li>
            </ol>
            <a
                [routerLink]="['/','collabrotaion',creatorId,'invoice',2]"
            >
                100$
            </a>
        </li>

        <li>
            <h2>
                HARVEST
            </h2>
            <ol>
                <li>
                    4 Instagram Reel
                </li>
                <li>
                    2 Instagram Post
                </li>
                <li>
                    Collaborate with <b>two</b> local nano-influencer
                </li>
            </ol>
            
            <a
                [routerLink]="['/','collabrotaion',creatorId,'invoice',3]"
            >
            250$
            </a>
        </li>
    </ul>
</section>