<section class="container">
    <h1>
        Select Collaboration
    </h1>
    <loading
        *ngIf="isLoading"
    ></loading>
    <ul
        *ngIf="!isLoading && packageList && packageList.length>0"
    >
        <li
            *ngFor="let package of packageList"
        >
            <h2>
                {{package.title}}
            </h2>
            <ol>
                <li>
                    {{package.reelsNumber}} Instagram Reel
                </li>
                <li>
                    {{package.postNumbers}} Instagram Post
                </li>
                <li>
                    Collaborate with <b>{{package.influencerNumber}}</b> local nano-influencer
                </li>
            </ol>
            <a
                [routerLink]="['/','collabrotaion',creatorId,'invoice',package._id]"
            >
                {{package.price}}$
            </a>
        </li>

    </ul>
</section>