ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 26px;
  margin-top: 32px;
  li {
    position: relative;
    flex: 0 19%;
    border-bottom: 1px solid #e4e7ec;
    padding-bottom: 16px;
    &:last-child {
      border-bottom: none;
    }
  }
}

@media only screen and (min-width: 1200.2px) and (max-width: 1500.1px) {
  ol {
    li {
      flex: 1 0 26%;
    }
  }
}

@media screen and (max-width: 1200.1px) {
  ol {
    li {
      flex: 1 0 49%;
      width: 49%;
    }
  }
}
