<dl>
    <dt>
        Image
    </dt>
    <dd>
        <img
            [src]="getCreatorImageUrl()"
        >
    </dd>

    <dt>
        Title
    </dt>
    <dd>
        <button
            type="button"
            title="signup or signin for more details"
            (click)="goToSignIn()"
        >
            Login to see creator info
        </button>
    </dd>
</dl>
<ul>
    <li>
        
        <Details>
            <summary>
                
            </summary>
            <p>
                To request collaboration, you will need to 
                <button
                    type="button"
                    title="signup for more details"
                    (click)="goToSignUp()"
                    class="blur"
                >
                    sign up
                </button>
                or
                <button
                    type="button"
                    title="signin for more details"
                    (click)="goToSignIn()"
                    class="blur"
                >
                    log in
                </button>
            </p>
        </Details>
    </li>

    <li>
        <button
            type="button"
            title="sign up or sign in for more details"
            (click)="goToSignIn()"
            class="blur"
        >
            @{{creator.instagramHandle}}***
        </button>
    </li>
    
    <li>
        <b
            *ngIf = "creator.city"
        >
            {{creator.city}}, CA
        </b>
    </li> 



</ul>