.blur {
  color: transparent;
  text-shadow: 0 0 5px #000;
}

dl {
  dt {
    display: none;
  }
  &:nth-child(1) {
    button {
      border: none;
      display: flex;
      align-items: center;
      margin: 8px 0 0 0;
      border: none;
      background: transparent;
      &::before {
        content: "";
        background-image: url("../../../assets/limit-user.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        display: block;
        background-size: cover;
      }
    }
  }
  dd {
    font-size: 22px;
    text-transform: capitalize;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 16px;

      &:empty {
        background-color: #ccc;
        width: 370px;
        height: 370px;
      }
    }
  }
}

ul {
  li {
    button {
      color: #000;
      font-size: 14px;
    }

    &:nth-child(2) {
      .instagram-details {
        summary {
          display: flex;
          align-items: center;
          margin: 8px 0 0 0;
          border: none;
          background: transparent;
          gap: 5px;
          &::before {
            content: "";
            background-image: url("https://assets.lettucesocial.com/images/customer-panel/Instagram.svg");
            background-position: center;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            display: block;
            background-size: cover;
          }
        }
      }
      details[open] {
        position: relative;
        p {
          font-size: 16px;
          font-weight: normal;
          position: absolute;
          background-color: #4d4c4c;
          color: #fff;
          font-weight: bold;
          border-radius: 8px;
          text-align: center;
          z-index: 2;
          width: 91%;
          padding: 38px 16px 16px 16px;
          top: -30px;
          right: 0;
          left: 0;
        }
        button {
          font-size: 16px;
          color: #5271ff;
          border: none;
          text-shadow: none;
          font-weight: normal;
          background-color: transparent;
        }
        summary {
          background-color: transparent;
          color: black;
          font-weight: normal;
          &::before {
            content: none;
          }
          &::after {
            content: "";
            background-image: url("../../../assets/close-white.svg");
            margin-right: auto;
            margin-right: auto;
            width: 25px;
            height: 25px;
            background-position: center;
            background-size: contain;
            z-index: 3;
            position: absolute;
            left: 8px;
            top: -22px;
          }
        }
      }
    }
    &:nth-child(3) {
      display: flex;
      align-items: center;
      margin: 4px 0 0 0;
      a,
      b {
        color: #000;
        font-size: 14px;
        display: flex;
        align-items: center;
        font-weight: normal;
        gap: 8px;
        &::before {
          content: "";
          background-image: url("https://assets.lettucesocial.com/images/customer-panel/location-icon.svg");
          background-position: center;
          background-repeat: no-repeat;
          width: 35px;
          height: 35px;
          display: block;
          background-size: cover;
          margin-left: 3px;
        }
      }
    }
    &:nth-child(1) {
      position: absolute;
      bottom: 145px;
      left: 25px;
      right: 25px;
      details {
        summary {
          background-color: #4d4c4c;
          color: #888;
          font-size: 16px;
          font-weight: bold;
          border-radius: 8px;
          padding: 9px 0;
          text-align: center;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &::before {
            content: "";
            background-image: url("../../../assets/lock-limit.png");
            background-position: center;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin-right: 8px;
            display: block;
            background-size: cover;
          }
          &::after {
            content: "Request Collaboration";
          }
        }
      }
      details[open] {
        background-color: rgba(255, 255, 255, 0.9);
        color: #888;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        padding: 4px 8px 16px 8px;
        text-align: center;
        width: 100%;
        p {
          font-size: 16px;
          font-weight: normal;
        }
        button {
          font-size: 16px;
          color: #5271ff;
          border: none;
          text-shadow: none;
          font-weight: normal;
        }
        summary {
          background-color: transparent;
          color: black;
          font-weight: normal;
          &::before {
            content: none;
          }
          &::after {
            content: "";
            background-image: url("../../../assets/close.svg");
            margin-right: auto;
            margin-right: auto;
            width: 25px;
            height: 25px;
            background-position: center;
            background-size: contain;
          }
        }
      }
    }
  }
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}
