<dl>
    <dt>
        Image
    </dt>
    <dd>
        <img
            [src]="getCreatorImageUrl()"
        >
    </dd>

    <dt>
        Title
    </dt>
    <dd>
        <a
            href="/login"
            title="signup or signin for more details"
        >
            <i
            class = "blur"
            >
                signup/signin
            </i>
        </a>
    </dd>
</dl>
<ul>
    <li>
        <a
            [routerLink]="['/','collabrotaion',creator._id,'selectPlane']"
        >
            Request Collaboration
        </a>
    </li>

    <li>
        <a
            href="/login"
            title="signup or signin for more details"
        >
            <i
            class = "blur"
            >
                signup/signin
            </i>
        </a>
    </li>
    
    <li>
        <b
            *ngIf = "creator.city"
        >
            {{creator.city}}, CA
        </b>
    </li> 



</ul>