<dl>
    <dt>
        Image
    </dt>
    <dd>
        <img
            [src]="getCreatorImageUrl()"
        >
    </dd>

    <dt>
        Title
    </dt>
    <dd>
        <button
            type="button"
            title="signup or signin for more details"
            (click)="goToSignIn()"
        >
            Login to see creator info
        </button>
    </dd>
</dl>
<ul>
    <li>
        <button
            type="button"
            title="signup or signin for more details"
            (click)="goToSignIn()"
            class="blur"
        >
            signup/signin
        </button>
    </li>

    <li>
        <button
            type="button"
            title="signup or signin for more details"
            (click)="goToSignIn()"
            class="blur"
        >
            @{{creator.instagramHandle}}***
        </button>
    </li>
    
    <li>
        <b
            *ngIf = "creator.city"
        >
            {{creator.city}}, CA
        </b>
    </li> 



</ul>