.blur {
  color: transparent;
  text-shadow: 0 0 5px #000;
}

dl {
  dt {
    display: none;
  }
  &:nth-child(1) {
    button {
      border: none;
      display: flex;
      align-items: center;
      margin: 8px 0 0 0;
      border: none;
      background: transparent;
      &::before {
        content: "";
        background-image: url("../../../assets/limit-user.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        margin-right: 8px;
        display: block;
        background-size: cover;
      }
    }
  }
  dd {
    font-size: 22px;
    text-transform: capitalize;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 16px;
    }
  }
}

ul {
  li {
    button {
      color: #000;
      font-size: 14px;
    }

    &:nth-child(2) {
      button {
        display: flex;
        align-items: center;
        margin: 8px 0 0 0;
        border: none;
        background: transparent;
        &::before {
          content: "";
          background-image: url("https://assets.lettucesocial.com/images/customer-panel/Instagram.svg");
          background-position: center;
          background-repeat: no-repeat;
          width: 40px;
          height: 40px;
          display: block;
          background-size: cover;
        }
      }
    }
    &:nth-child(3) {
      display: flex;
      align-items: center;
      margin: 8px 0 0 0;
      a,
      b {
        color: #000;
        font-size: 14px;
        display: flex;
        align-items: center;
        font-weight: normal;
        gap: 10px;
        &::before {
          content: "";
          background-image: url("https://assets.lettucesocial.com/images/customer-panel/location-icon.svg");
          background-position: center;
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          display: block;
          background-size: cover;
          margin-left: 3px;
        }
      }
    }
    &:nth-child(1) {
      position: absolute;
      bottom: 145px;
      left: 25px;
      right: 25px;
      button {
        border: none;
        background-color: #4d4c4c;
        color: #888;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        display: block;
        padding: 9px 0;
        text-align: center;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        &::before{
          content: "";
          background-image: url("../../../assets/lock-limit.png");
          background-position: center;
          background-repeat: no-repeat;
          width: 25px;
          height: 25px;
          margin-right: 8px;
          display: block;
          background-size: cover;
        }
      }
    }
  }
}
