.blur {
  color: transparent;
  text-shadow: 0 0 5px #000;
}

dl {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  align-items: center;
  column-gap: 14px;
  border-bottom: 1px solid #e4e7ec;
  margin-bottom: 6px;
  padding-bottom: 16px;
  dt {
    display: none;
  }
  dd {
    img {
      width: 56px;
      height: 56px;
      border-radius: 8px;
    }

    &:nth-child(2) {
      grid-row: span 2;
    }
    &:nth-child(4) {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #344054;
      text-transform: capitalize;
    }
    &:nth-child(6) {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #475467;
    }
  }
}
