<loading
    *ngIf="isLoading"
></loading>

<dl
    *ngIf="!isLoading && creator"
    class="container"
>
    <dt>
        Image
    </dt>
    <dd>
        <img
        [src]="getCreatorImageUrl()"
        >
    </dd>

    <dt>
        Title
    </dt>
    <dd
        *ngIf="creator.firstName"
    >
        
        {{getCreatorTitle()}}
    </dd>
    <dd
        *ngIf="!creator.firstName"
    >
        <i
            class = "blur"
        >
            signup/signin
        </i>
    </dd>

    <dt>
        Instagram Handle
    </dt>
    <dd
        *ngIf="creator.instagramHandle"
    >
        @{{creator.instagramHandle}}
    </dd>

    <dd
        *ngIf="!creator.instagramHandle"
    >
        <i
            class = "blur"
        >
            signup/signin
        </i>
    </dd>
</dl>

<router-outlet></router-outlet>