section {
  p {
    margin: 16px 0;
    font-size: 16px;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    color: #0000ee;
  }
}
