<h2>
    Confirm your email address
</h2>

<section>
    <p>
        A link was sent to your email. It expires in 30 minutes.
    </p>
</section>

<section>
    <p>
        We have sent you a confirmation link via email. If you can't locate the email in your inbox, kindly check your spam folder. Additionally, please ensure that you have entered a valid email address during the sign-up process.
    </p>

    <p>
        If you have mistakenly entered the wrong email address, don't worry. Click below to return to the sign-up form.
    </p>

    <a
        role="button"
        href="/auth/signup"
    >
        Back to Sign up
    </a>
</section>