<h1>
    What’s Next?
</h1>

<section>
    <h2>
        HARVEST
    </h2>
    <ol>
        <li>
            4 Instagram Reel
        </li>
        <li>
            2 Instagram Post
        </li>
        <li>
            Collaborate with <b>two</b> local nano-influencer
        </li>
    </ol>

    <u>
        250$
    </u>
    
</section>

<form>
    <legend>
        Pay 10% deposit & start
    </legend>
    <p>
        Once the collaboration is complete, the remaining balance will be charged to the credit card on file.
    </p>
    <fieldset>
        <button
            (click)="pay()"
        >
            Pay $10
        </button>
    </fieldset>

</form>