<section class="container">
    <h1>
        What’s Next?
    </h1>
    <loading
        *ngIf="isLoading"
    ></loading>
    
    <div
        *ngIf="!isLoading && package"
        [id] = "'pln_'+package._id"
    >
        <h2>
            {{package.title}}
        </h2>
        <ol>
            <li>
                {{package.reelsNumber}} Instagram Reel<span *ngIf="package.reelsNumber > 1" >s</span>
            </li>
            <li>
                {{package.postNumbers}} Instagram Post<span *ngIf="package.postNumbers > 1" >s</span>
            </li>
            <li>
                Collaborate with <b>{{package.influencerNumber}}</b> local nano-influencer<span *ngIf="package.influencerNumber > 1" >s</span>
            </li>
        </ol>
    
        <u>
            ${{package.price}}
        </u>
        
    </div>
    
    <form>
        <legend>
            Pay 10% deposit & start
        </legend>
        <p>
            We'll place a 10% hold on your card, which becomes a charge when we confirm your influencer. The remaining 90% will be charged on completion.
        </p>
        <fieldset>
            <button
                *ngIf="!isLoading && package"
                (click)="pay()"
            >
            Authorize ${{package.deposit}}
            </button>
        </fieldset>
    
    </form>
    <navigation-ribon></navigation-ribon>

</section>