@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: NunitoSans;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: bold;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-ExtraBold.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 500;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 300;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-Light.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 200;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-ExtraLight.ttf");
}
