/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: NunitoSans;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-Regular.ttf");
}
body {
  font-family: NunitoSans;
  margin: 0;
  background-color: #FAFAFA;
}

body:has(.creator-filter) {
  background-image: linear-gradient(
    to bottom,
    #9eda9e,
    #aadb91,
    #b8da84,
    #d1e674,
    #d8f070,
    #FDD54F
  );
  min-height: 100vh;
}

body:has(.navigation-ribon){
  padding-bottom: 60px;
}

@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: bold;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-ExtraBold.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 500;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 300;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-Light.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 200;
  src: url("https://assets.lettucesocial.com/fonts/NunitoSans-ExtraLight.ttf");
}
.container {
  width: 100%;
  padding: 10px 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

html,
body {
  font-family: NunitoSans, serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

u {
  text-decoration: none;
}
button {
  cursor: pointer;
}
form fieldset {
  border: none;
}

input {
  padding-left: 10px !important;
  padding-right: 10px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  padding-left: 10px !important;
  padding-right: 10px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup {
  animation: popup 0.5s;
}

@keyframes popup {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.aclass {
  width: 134px;
  height: 134px;
  margin-right: 16px;
  img {
    width: 100%;
  }
}

.main-details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}
form {
  fieldset:disabled {
    label {
      color: #b2b8c2 !important;
    }
    input {
      border: solid 1px #ced5e0 !important;
      &::placeholder {
        color: #b2b8c2 !important;
      }
    }
    textarea {
      border: solid 1px #ced5e0 !important;
      color: #b2b8c2 !important;
    }
    button {
      background-color: #ced5e0 !important;
      color: #fff !important;
    }
  }
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
dl,
dt,
dd,
fieldset,
ul,
li,
ol,
p,
legend {
  margin: 0;
  padding: 0;
}

@-moz-document url-prefix() {
  button {
    font-family: NunitoSans, serif !important;
  }
}
input {
  font-size: 14px;
  font-family: NunitoSans, serif !important;
}
textarea {
  font-size: 14px;
  font-family: NunitoSans, serif !important;
}

input:focus {
  outline: none !important;
  border-color: #3f8cff !important;
  box-shadow: 0px 0px 3px -1px #3f8cff !important;
}
textarea:focus {
  outline: none !important;
  border-color: #3f8cff !important;
  box-shadow: 0px 0px 3px -1px #3f8cff !important;
}

select:focus {
  outline: none !important;
  border-color: #3f8cff !important;
  box-shadow: 0px 0px 3px -1px #3f8cff !important;
}

input[type="search"] {
  -webkit-appearance: none;
}
ul {
  list-style: none;
}
select {
  font-size: 14px;
}

.required {
  &::after {
    content: " *";
    display: inline;
    color: #f65160;
    font-size: 16px;
    opacity: 0.7;
  }
}

.close-btn {
  background-color: #f4f9fd;
  padding: 10px;
  border: none;
  border-radius: 14px;
  content: "";
  background-image: url(/assets/images/icn-general-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  font: status-bar;
  -webkit-writing-mode: vertical-rl;
  display: flex;
  border: none;
  position: absolute;
  right: 17px;
  top: 12px;
  z-index: 10;
  width: 40px;
}

.submit-btn {
  padding: 12px 22px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(184 200 224 / 22%);
  border: solid 1px #d8e0f0;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #91929e;
  transition: 0.5s;
  float: right;
  cursor: pointer;

  &:hover {
    border: solid 1px #91929e;
    transition: 0.5s;
  }
}
.cancel-btn {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  padding: 14px 31px;
  border-radius: 14px;
  box-shadow: 0 6px 12px 0 rgb(63 140 255 / 26%);
  background-color: #3f8cff;
  border: none;
  float: right;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 16px;

  &:hover {
    background-color: #3a81eb;
    transition: 0.5s;
  }
}

.actionMenu li {
  display: inline-block;
  padding: 12px 22px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(184 200 224 / 22%);
  border: solid 1px #d8e0f0;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #91929e;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    border: solid 1px #91929e;
    transition: 0.5s;
  }
}
