<dl>
    <dt>
        Image
    </dt>
    <dd>
        <img
            [src]="getCreatorImageUrl()"
        >
    </dd>

    <dt>
        Title
    </dt>
    <dd>
        {{getCreatorTitle()}}
    </dd>
</dl>
<ul>
    <li>
        <a
            [href]="creator.instagramURL"
            target="_blank"
        >
            Visit Instagram Pofile
        </a>
    </li>
    <li>
        <a
            [routerLink]="['/','collabrotaion',creator._id,'selectPlane']"
        >
            Collabroate With {{creator.firstName}}
        </a>
    </li>
</ul>