.blur {
  color: transparent;
  text-shadow: 0 0 5px #000;
}

dl {
  dt {
    display: none;
  }
  dd {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #101828;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
    &:nth-child(2) {
      margin-bottom: 8px;
      &:empty {
        background-color: #ccc;
        width: 100%;
        height: 370px;
        border-radius: 8px;
      }
    }
  }
}

ul {
  li {
    a {
      color: #000;
      font-size: 14px;
    }
    &:nth-child(2) {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background: #ffffff;
        border: 1px solid #d0d5dd;
        border-radius: 8px;
        position: absolute;
        top: 8px;
        right: 8px;
        text-indent: -900000px;

        &::before {
          content: "";
          background-image: url("https://assets.lettucesocial.com/images/customer-panel/Instagram.svg");
          background-position: center;
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          display: block;
          background-size: cover;
        }
      }
    }
    &:nth-child(3) {
      display: flex;
      align-items: center;
      margin: 4px 0 0 0;
      b {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

        color: #667085;

        // &::before {
        //   content: "";
        //   background-image: url("https://assets.lettucesocial.com/images/customer-panel/location-icon.svg");
        //   background-position: center;
        //   background-repeat: no-repeat;
        //   width: 35px;
        //   height: 35px;
        //   display: block;
        //   background-size: cover;
        //   margin-left: 3px;
        // }
      }
    }
    &:nth-child(1) {
      a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        background: #000000;
        border-radius: 9999px;
        padding: 8px 26px;
        position: absolute;
        right: 0;
        bottom:20px;
      }
    }
  }
}
