<dl>
    <dt>
        Image
    </dt>
    <dd>
        <img
            [src]="getCreatorImageUrl()"
        >
    </dd>

    <dt>
        Title
    </dt>
    <dd>
        {{getCreatorTitle()}}
    </dd>
</dl>
<ul>
    <li>
        <a
            [routerLink]="['/','collabrotaion',creator._id,'selectPlane']"
        >
            Request Collaboration
        </a>
    </li>

    <li>
        <a
            [href]="creator.instagramURL"
            target="_blank"
        >
            @{{creator.instagramHandle}}
        </a>
    </li>
    
    <li>
        <b
            *ngIf = "creator.city"
        >
            {{creator.city}}, CA
        </b>
    </li> 



</ul>